<section id="contact-us" class="md:bg-[url(/backgrounds/contact-us-background.webp)] bg-[url(/backgrounds/contact-us-background-mobile.webp)] bg-cover bg-center bg-no-repeat py-16 md:py-24 lg:py-32 relative">
  <div class="absolute inset-0 bg-gradient-to-b from-black/60 to-black/40 md:bg-black/40"></div>

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <div class="grid lg:grid-cols-2 gap-10 lg:gap-16 items-center">
      <div class="text-center lg:text-left px-4 sm:px-6 order-2 lg:order-1">
        <h2 class="text-white text-4xl sm:text-5xl lg:text-6xl font-bold leading-tight mb-6 sm:mb-8">
          ¿Tienes un proyecto en mente?
        </h2>
        <p class="text-white/90 text-xl sm:text-2xl font-light max-w-lg mx-auto lg:mx-0 mb-8 sm:mb-12">
          Contáctanos y hagámoslo realidad con calidad y compromiso.
        </p>
      </div>
      <div class="order-1 lg:order-2">
        <div class="bg-white p-8 sm:p-10 rounded-xl shadow-2xl transition-all duration-300 hover:shadow-xl">
          <h3 class="text-3xl md:text-4xl font-semibold text-gray-800 mb-8 text-center">
            Conectémos
          </h3>

          <form class="space-y-6" id="contactForm">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
              <div class="sm:col-span-2">
                <label class="block text-lg font-medium text-gray-700 mb-2">¿Cuál es tu nombre?</label>
                <label>
                  <input
                    required
                    type="text"
                    id="fullName"
                    name="fullName"
                    class="w-full border border-gray-300 rounded-lg px-5 py-4 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent transition-all text-lg"
                    placeholder="Nombre"
                  />
                </label>
              </div>

              <div>
                <label class="block text-lg font-medium text-gray-700 mb-2">Correo electrónico</label>
                <label>
                  <input
                    required
                    type="email"
                    id="email"
                    name="email"
                    class="w-full border border-gray-300 rounded-lg px-5 py-4 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent transition-all text-lg"
                  />
                </label>
              </div>

              <div>
                <label class="block text-lg font-medium text-gray-700 mb-2">Teléfono / Celular</label>
                <label>
                  <input
                    required
                    type="tel"
                    id="phone"
                    name="phone"
                    class="w-full border border-gray-300 rounded-lg px-5 py-4 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent transition-all text-lg"
                  />
                </label>
              </div>
              <div class="sm:col-span-2">
                <label class="block text-lg font-medium text-gray-700 mb-2">Cuéntanos más detalles</label>
                <label>
                    <textarea
                      required
                      id="message"
                      name="message"
                      class="w-full border border-gray-300 rounded-lg px-5 py-4 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent transition-all min-h-[150px] text-lg"
                      placeholder="Describe tu proyecto o consulta..."
                    ></textarea>
                </label>
              </div>
            </div>

            <div class="pt-4">
              <button
                id="button"
                type="submit"
                class="w-full bg-orange-500 hover:bg-orange-600 text-white px-8 py-4 rounded-lg font-semibold text-lg transition-all duration-300 flex items-center justify-center gap-3"
              >
                Enviar mensaje
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline>
    const form = document.getElementById("contactForm");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const fullName = document.getElementById("fullName").value.trim();
      const email = document.getElementById("email").value.trim();
      const phoneNumber = document.getElementById("phone").value.trim();
      const message = document.getElementById("message").value.trim();
      const button = document.getElementById("button");

      const contact = {
        fullName,
        email,
        phone: {
          countryCode: "+51",
          number: phoneNumber,
        },
        message,
        hostname: "contratistaserviciosgenerales.com",
      };

      try {
        button.disabled = true;
        button.textContent = "Cargando...";
        button.classList.add("opacity-60", "cursor-not-allowed");

        const res = await fetch(
          "https://api-servitecsales.web.app/emails/contact",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            body: JSON.stringify({ contact }),
          },
        );

        const contentType = res.headers.get("content-type");

        if (!res.ok) {
          const errorText = await res.text();
          console.error("Error del servidor:", errorText);
          return;
        }
        if (contentType && contentType.includes("application/json")) {
          const data = await res.json();
          console.log("Respuesta JSON:", data);
        } else {
          const text = await res.text();
          console.log("Respuesta texto:", text);
        }
        form.reset();

        window.location.href = "/success"
      } catch (error) {
        console.error("Error:", error);
      } finally {
        button.disabled = false;
        button.textContent = "Envíar Mensaje";
        button.classList.remove("opacity-60", "cursor-not-allowed");
      }

    });
</script>